.header {
    background-color: rgb(200, 200, 200);
    margin: 0px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: auto;
    font-size: 25px;
}

.section {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.section-top {
    color: #0b0500;
    font-size: 23px;
}

.div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.article {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.article-top {
    color: #0d1f0e;
    font-size: 18px;
}

.list {
    margin-left: 20px;
}

.card {
    width: auto;
    /* background-color: #c8d9e5; */
    background-color: #f9f9f9;
    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parentborder {
    border-left: 2px solid #666666;
    margin-left: 10px;
}