/* ヘッダー */
.header {
    background-color: rgb(193, 216, 235);
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 31px;
    padding-right: 31px;
    width: 100%;
    height: auto;
}

.header-top {
    margin: 0px;
    font-size: 30px;
}

/* 全体 */
.main {
    width: 100%;
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
}

.body {
    margin: 0;
}

/* ステータス欄 */
.status {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px;
    padding: 4px;
    font-size: 1rem;
}

.status input {
    padding: 5px 10px;
    font-size: 15px;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 数値の単位ごと */
.NumericalValue {
    width: 50px;
}

.Percent {
    width: 33px;
}

.Magnification {
    width: 29px
}

.big {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.hidden {
    display: none;
}

.big-value {
    height: auto;
    width: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: orange;
}

.checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.left {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-value {
    display: flex;
}

.main-fast {
    margin-top: 20px;
    margin-bottom: 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    width: 400px;
    max-width: 90%;
    border-radius: 10px;
    text-align: center;
}

.slot {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slot-name {
    width: 60%;
    text-align: center;
}

.slot-buttons {
    display: flex;
    width: 35%;
}

.slot-buttons button {
    flex: 1;
    margin: 0 2px;
}

.close-btn {
    margin-top: 10px;
}

.Sentence {
    margin: 0;
    width: 220px;
}

.unit {
    margin: 2px;
    width: 14px;
    margin-left: 1px;
}

.help-btn {
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 0px;
    margin-left: clamp(0px, 100%, 374px);
    background: none;
    border: none;
    position: absolute;
    top: 5px;
    right: 10px;
}

.help-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.add-btn {
    height: 17px;
    width: 17px;

    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;

    border-color: #eeeeee;
}

.delete-btn {
    height: 19px;
    width: 19px;

    margin: 1px;
    margin-top: 3px;
    margin-bottom: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;

    background-color: #ffe4e4;
    border: 1px solid #ff4848;
    border-radius: 3px;
}

.input-box {
    display: flex;

    border: 1px solid #a6a6a6;
    border-radius: 5px;

    padding: 2px;
}

.status-input {
    margin: 2px;
}

.input-section {
    display: flex;

    gap: 6px;
}

.checkbox {
    display: flex;
    align-items: center;

    margin: 2px;
}